In [1]:
import pandas as pd
X=pd.read_csv('train.csv')
X

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [2]:
X.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [3]:
X['Age'].fillna(X['Age'].mean(),inplace=True)

In [4]:
X.drop(columns='Cabin',axis=1,inplace=True)

In [5]:
X.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [6]:
X['Embarked'].fillna(X['Embarked'].mode()[0],inplace=True)

In [44]:
X['Embarked'].mode()

0    0
dtype: int64

In [8]:
X.replace(to_replace={'Sex':{'male':1,'female':0},'Embarked':{'S':0,'C':1,'Q':2}},inplace=True)

In [9]:
x=X[['Pclass','Sex','Age','Embarked']]
y=X[['Survived']]

In [10]:
x

     Pclass  Sex        Age  Embarked
0         3    1  22.000000         0
1         1    0  38.000000         1
2         3    0  26.000000         0
3         1    0  35.000000         0
4         3    1  35.000000         0
..      ...  ...        ...       ...
886       2    1  27.000000         0
887       1    0  19.000000         0
888       3    0  29.699118         0
889       1    1  26.000000         1
890       3    1  32.000000         2

[891 rows x 4 columns]

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [12]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression().fit(x_train,y_train)

C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

In [13]:
prms={'max_iter':[1000,10000,100000,100000]}

In [14]:
from sklearn.model_selection import GridSearchCV
grid_model=GridSearchCV(model,prms,cv=3)
grid_model.fit(x_train,y_train)

C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)
C:\Users\Arbaj\anaconda3\lib\site-packages\sklearn\utils\validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

GridSearchCV(cv=3, estimator=LogisticRegression(),
             param_grid={'max_iter': [1000, 10000, 100000, 100000]})

In [15]:
grid_model.best_params_

{'max_iter': 1000}

In [16]:
pred_test=grid_model.predict(x_test)
pred_train=grid_model.predict(x_train)

In [17]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report,precision_score,recall_score,f1_score

In [18]:
A_test=accuracy_score(y_test,pred_test)
A_test

0.8222222222222222

In [19]:
A_train=accuracy_score(y_train,pred_train)
A_train

0.7865168539325843

In [20]:
confusion_matrix(y_test,pred_test)

array([[52,  8],
       [ 8, 22]], dtype=int64)

In [21]:
confusion_matrix(y_train,pred_train)

array([[412,  77],
       [ 94, 218]], dtype=int64)

In [22]:
print('TEST')
print(classification_report(y_test,pred_test))

TEST
              precision    recall  f1-score   support

           0       0.87      0.87      0.87        60
           1       0.73      0.73      0.73        30

    accuracy                           0.82        90
   macro avg       0.80      0.80      0.80        90
weighted avg       0.82      0.82      0.82        90

In [23]:
print('TRAIN')
print(classification_report(y_train,pred_train))

TRAIN
              precision    recall  f1-score   support

           0       0.81      0.84      0.83       489
           1       0.74      0.70      0.72       312

    accuracy                           0.79       801
   macro avg       0.78      0.77      0.77       801
weighted avg       0.78      0.79      0.79       801

In [24]:
precision_score(y_test,pred_test)

0.7333333333333333

In [25]:
precision_score(y_train,pred_train)

0.7389830508474576

In [26]:
recall_score(y_test,pred_test)

0.7333333333333333

In [27]:
recall_score(y_train,pred_train)

0.6987179487179487

In [28]:
f1_score(y_test,pred_test)

0.7333333333333333

In [29]:
f1_score(y_train,pred_train)

0.7182866556836902

# NOW TESTING ON TEST.CSV

### PREPROCESSING THE TEST.CSV

In [30]:
Y=pd.read_csv(r"C:\Users\Arbaj\Desktop\Demo Datasets\Lesson 4\test.csv")
Y

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [31]:
Y.isna().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [32]:
Y.drop(columns=('Cabin'),inplace=True)

In [33]:
Y['Age'].fillna(Y['Age'].mean(),inplace=True)

In [34]:
Y['Fare'].fillna(Y['Fare'].mean(),inplace=True)

In [35]:
Y.replace(to_replace={'Sex':{'male':1,'female':0},'Embarked':{'S':0,'C':1,'Q':2}},inplace=True)

In [36]:
TEST=X[['Pclass','Sex','Age','Embarked']]
TEST

     Pclass  Sex        Age  Embarked
0         3    1  22.000000         0
1         1    0  38.000000         1
2         3    0  26.000000         0
3         1    0  35.000000         0
4         3    1  35.000000         0
..      ...  ...        ...       ...
886       2    1  27.000000         0
887       1    0  19.000000         0
888       3    0  29.699118         0
889       1    1  26.000000         1
890       3    1  32.000000         2

[891 rows x 4 columns]

In [37]:
AA_TEST=grid_model.predict(TEST)

In [38]:
AA_test=accuracy_score(y,AA_TEST)
AA_test

0.7901234567901234

In [39]:
AA_CONF=confusion_matrix(y,AA_TEST)
AA_CONF

array([[464,  85],
       [102, 240]], dtype=int64)

In [40]:
AA_CLASS=classification_report(y,AA_TEST)
print(AA_CLASS)

              precision    recall  f1-score   support

           0       0.82      0.85      0.83       549
           1       0.74      0.70      0.72       342

    accuracy                           0.79       891
   macro avg       0.78      0.77      0.78       891
weighted avg       0.79      0.79      0.79       891

In [41]:
AA_PRE=precision_score(y,AA_TEST)
AA_PRE

0.7384615384615385

In [42]:
AA_REC=recall_score(y,AA_TEST)
AA_REC

0.7017543859649122

In [43]:
AA_F1=f1_score(y,AA_TEST)
AA_F1

0.719640179910045